* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.label-form {
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
}

/*effect-underline*/
.label-form:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  color: #00897b;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.label-form:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

