
@font-face {
	src: url(Chapaza.ttf);
	font-family: chapaza-bold;
  }
  
@font-face {
	src: url(AvenirLTStd-Black.otf);
	font-family: Avenir LT Std;
  }
  
@font-face {
	src: url(AvenirLTStd-Roman.otf);
	font-family: AvenirLTStd-Roman;
  }

.card .card-header {
    background-color:#6b8e4e;
}

.card .card-header .card-title {
    font-family: AvenirLTStd-Roman;
    color: #ffffff;
}

#table-spa_holder_sum td {
    color:  #6b8e4e;;
    font-family: AvenirLTStd-Roman;
    font-size: 1em;
}

#table-spa_holder_sum th {
	background-color:#304c40;
	color: #fff;
	font-family: Avenir LT Std;
}

.active {
	background-color: #6b8e4e!important;
  }


/*--------------Media Query------------*/

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
		font-size: 11px;
		padding: 5px;
	}

	#table-spa_holder_sum .td-padding {
		font-size: 10px;
		padding: 5px;
	}

}

 /* For 1024 Resolution */  
 @media only screen   
 and (min-device-width : 768px)   
 and (max-device-width : 1024px) {

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum  .th-padding {
		font-size: 11px;
		padding: 5px;
	}

	#table-spa_holder_sum  .td-padding {
		font-size: 10px;
		padding: 5px;
	}

 }

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .dflex-button {
		display: flex!important;
		justify-content: center!important;
		margin: 2px;
	}

    .breadcrumb-item {
        font-size: 12px;
    }

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
        padding: 5px;
        font-size: 12px;
    }
  
    #table-spa_holder_sum .td-padding {
        padding: 5px;
        margin: 2px;
        font-size: 12px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .dflex-button {
		display: flex!important;
		justify-content: center!important;
		margin: 2px;
	}

    .breadcrumb-item {
        font-size: 12px;
    }

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
        padding: 5px;
        font-size: 12px;
    }
  
    #table-spa_holder_sum .td-padding {
        padding: 5px;
        margin: 2px;
        font-size: 12px;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .dflex-button {
		display: flex!important;
		justify-content: center!important;
		margin: 2px;
	}

    .breadcrumb-item {
        font-size: 12px;
    }

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
        padding: 5px;
        font-size: 12px;
    }
  
    #table-spa_holder_sum .td-padding {
        padding: 5px;
        margin: 2px;
        font-size: 12px;
    }

}

/*------JioPhone 2--------*/
@media only screen and (max-device-width: 240px) {

    .dflex-button {
		display: flex!important;
		justify-content: center!important;
		margin: 2px;
	}

    .breadcrumb-item {
        font-size: 12px;
    }

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
        padding: 5px;
        font-size: 12px;
    }
  
    #table-spa_holder_sum .td-padding {
        padding: 5px;
        margin: 2px;
        font-size: 10px;
    }

}

/*---------Galaxy Fold-----------*/
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 653px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .dflex-button {
		display: flex!important;
		justify-content: center!important;
		margin: 2px;
	}

    .breadcrumb-item {
        font-size: 12px;
    }

    .card .card-header {
        padding: 3px;
    } 
    
    .card-header .card-title {
        font-size: 18px;
        margin: 2px;
    }

    #table-spa_holder_sum .th-padding {
        padding: 5px;
        font-size: 12px;
    }
  
    #table-spa_holder_sum .td-padding {
        padding: 5px;
        margin: 2px;
        font-size: 10px;
    }

  }